#filterGrid{
    display: flex;
    height: 100vh;
    padding: 10px;
    margin-left: 5px;
    padding-left: 15px;
    flex-direction: column;
}


#artist{
    grid-area: artist;
}

#genres{
    grid-area: genre;
}

#album{
}

#year{
    grid-area: year;
}

#track{
    grid-area: track;
}

#filterTitle{
    font-family: var(--space-font);
    font-size: 25px;
}

