<div id="addCutsGrid">
  <div id="lastfmSearchWrapper"> 
    <h1>Add Cuts</h1>
    <app-last-fm-search (trackSelectionEvent)="recieveTrack($event)"></app-last-fm-search>
  </div>

  <div id="addCutsMainWrapper">
    <h2>Track Details</h2>
      <form [formGroup] = "addCutForm">
          <mat-form-field id="artist">
            <input matInput formControlName="ArtistName" type="text" placeholder="Enter Artist Name" >
          </mat-form-field>
    
          <mat-form-field id="track">
            <input matInput formControlName="TrackName" type="text" placeholder="Enter Track Name" >
          </mat-form-field>

          <mat-form-field id="album">
              <input matInput formControlName="AlbumName" type="text" placeholder="Enter Album Name" >
          </mat-form-field>
  
          <mat-form-field id="year">
              <input matInput formControlName="Release" type="text" placeholder="Enter Release Year" >
          </mat-form-field>

          <mat-form-field class="genre-chip-list">
              <mat-chip-list #genreChipList>
                <mat-chip *ngFor="let genre of genres" [selectable]="false"
                         [removable]="removable" (removed)="removeGenre(genre)">
                  {{genre.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add Genre..."
                       [matChipInputFor]="genreChipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="addGenre($event)">
              </mat-chip-list>
            </mat-form-field>

            <mat-form-field class="tag-chip-list">
                <mat-chip-list #tagChipList>
                  <mat-chip *ngFor="let tag of tags" [selectable]="false"
                           [removable]="removable" (removed)="removeTag(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Add Tag..."
                         [matChipInputFor]="tagChipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="true"
                         (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-list>
              </mat-form-field>

          <mat-form-field id="description">
              <textarea matInput formControlName="Description" type="text" placeholder="Write a comment..." ></textarea>
          </mat-form-field>

          <div class="albumArt">
            <img src="{{albumArt}}">
          </div>

          <button mat-raised-button (click)="addCut()" >Submit</button>
      </form>
  </div>

</div>
