/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans|Lato');

::ng-deep :root{
    --roboto-font: 'Roboto Slab', serif;
    --oswald-font: 'Oswald', sans-serif;
    --space-font: 'Space Mono', monospace;
    --work-font: 'Work Sans', sans-serif;
    --lato-font: 'Lato', sans-serif;
    --main-background-color: #25222A;
    --main-background-color-light: #fbf9fa;
    --brand-color: #4B4646;
    --light-highlight: #AD8C87;
    --dark-highlight: #7D7388;
    --success-color: #689353;
    --warning-color: #e5831b;
    --danger-color: #A7545B;
    --primary-color: #a9535b;
    --info-color: #25222a;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}