/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


::ng-deep :root{
    --roboto-font: 'Roboto Slab', serif;
    --oswald-font: 'Oswald', sans-serif;
    --main-background-color: #F6F2F2;
    --light-highlight: #CEA16E;
    --dark-highlight: #988F88;
    --success-color: #679453;
    --warning-color: #e5841b;
    --danger-color: #f44336;
    --primary-color: #a7545a;
    --info-color: #4b4646;
}